.found {
  background: linear-gradient(
      180deg,
      rgba(49, 67, 82, 0.85),
      rgba(49, 67, 82, 0.85),
      rgba(49, 67, 82, 0.85)
    ),
    url("./../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.found__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  height: 100vh;
  overflow: hidden;
  row-gap: 15px;
}
.found__title {
  font-size: 140px;
  line-height: 1.1;
  font-weight: 600;
}
.found__title span {
  color: #ffffff74;
}

.found__subtitle {
  font-size: 1.6rem;
  line-height: 1.1;
}
.found__text {
}
.found__button {
  margin-top: 15px;
  padding: 15px 30px 15px 30px;
  background-color: $color-accept;
  text-transform: uppercase;
  transition: all 4s ease;
  a {
    color: $color-dark;
  }
  &:hover {
    transform: scale(1.1);
    font-weight: 500;
  }
}
