.benefits {
  padding: 70px 0;
  background: linear-gradient(
      180deg,
      rgba(49, 67, 82, 0.85),
      rgba(49, 67, 82, 0.85),
      rgba(49, 67, 82, 0.85)
    ),
    url("../../img/benefits-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 50px;
  margin-bottom: -250px;
}
.benefits__item {
  padding: 30px;
  background-color: $color-white;
  border: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.benefits__item-img {
  width: 60px;
  height: auto;
}
.benefits__name {
  font-weight: 500;
  text-align: center;
}
.benefits__description {
  text-align: center;
}
