.contact {
  padding: 70px 0;
  background: linear-gradient(
      180deg,
      rgba(49, 67, 82, 0.85),
      #314352ad,
      rgba(49, 67, 82, 0.85)
    ),
    url("./../img/benefits-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__row {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}
.contact__header {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}

.contact__address {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  align-items: flex-start;
  justify-content: space-between;
}
.contact__inner {
  font-size: 18px;
  line-height: 1.1;
}
.contact__title {
  color: $color-accept;
  padding-bottom: 15px;
  &--footer {
    padding-top: 20px;
  }
}
.contact__street {
  color: $color-white;
  padding-bottom: 15px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 11px;
    width: 30px;
    height: 30px;
    transform: translate(0%, -50%);
    background-image: url(./../../img/location-25.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.contact__mail {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 11px;
    width: 30px;
    height: 30px;
    transform: translate(0%, -50%);
    background-image: url(./../../img/mail-25.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  a {
    color: $color-white;
  }
}
.contact__phone {
  padding-bottom: 15px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -32px;
    top: 13px;
    width: 30px;
    height: 30px;
    transform: translate(0%, -50%);
    background-image: url(./../../img/pnone-25.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  a {
    color: $color-white;
  }
}
.contact__socials {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.contact__item {
}

.contact__map {
  margin-top: 45px;
  max-width: 900px;
}
