.header {
  /*  padding-top: 30px; */

  height: 200px;
}

.header__row {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo__link {
  text-align: center;
}
.logo__icon {
  width: 90px;
}
.logo__name {
  color: $color-white;
}

.header__contact {
  display: flex;
  column-gap: 40px;
  justify-content: center;
}
.header__contact-tel {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(0%, -50%);
    background-image: url(./../../img/pnone-25.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header__contact-phono {
  color: $color-white;
}
