@media (max-width: 1284px) {
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 55px;
  }
  .services__header {
    column-gap: 60px;
    font-size: 40px;
  }

  .questions__title {
    font-size: 40px;
  }
  .footer__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 980px) {
  .questions__title {
    font-size: 40px;
  }
  .questions__row {
    flex-direction: column;
  }
  .questions__content {
    max-width: 600px;
  }

  .dark__text {
    margin-bottom: 45px;
  }
  .header__bottom {
    height: 280px;
  }
  .header__bottom-title {
    font-size: 60px;
  }
}

@media (max-width: 890px) {
  .about__row {
    flex-direction: column-reverse;
  }
  .about__inner {
    width: 100%;
  }
  .about__img {
    max-width: 350px;
  }
}

@media (max-width: 867px) {
  .benefits__row {
    gap: 25px;
  }
  .benefits__item {
    padding: 20px;
  }
  .call__row {
    row-gap: 15px;
    justify-content: center;
  }
  .choose__row {
    flex-direction: column;
  }
  .choose__content {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .banner__row {
    text-align: center;
  }
  .banner__title {
    font-size: 40px;
  }
  .services__header {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  .services__cards {
    gap: 70px;
  }
  .white__title {
    font-size: 40px;
  }

  .benefits__row {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 677px) {
  .footer__row {
    grid-template-columns: repeat(1, 1fr);
  }
  .call__phone a {
    font-size: 42px;
  }
  .call__card {
    padding: 25px;
  }
  .accreditation__row {
    flex-direction: column;
    row-gap: 15px;
  }
  .choose__img {
    height: 180px;
  }
  .white__title {
    font-size: 35px;
  }
}

@media (max-width: 500px) {
  .header__row {
    flex-direction: column;
    row-gap: 10px;
  }
  .header--page {
    height: 280px;
  }
  .header__contact {
    align-items: center;
  }
  .header__bottom {
    height: 220px;
  }
  .header__bottom-title {
    font-size: 50px;
  }
  .services__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .dark__title {
    font-size: 40px;
  }
  .questions__title {
    font-size: 35px;
  }
  .contact__address {
    flex-direction: column;
    row-gap: 20px;
  }
  .call__phone a {
    font-size: 36px;
  }
  .call__card {
    padding: 20px;
  }
  .accreditation__title {
    font-size: 30px;
    text-align: center;
  }
  .choose__img {
    height: 140px;
  }
  .choose__card-bg {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .header__contact {
    flex-direction: column;
    row-gap: 10px;
  }

  .banner__title {
    font-size: 35px;
  }
  .accordion button .accordion-title {
    padding: 1em 1em 1em 0;
  }
  .accordion button {
    font-size: 1.1rem;
  }
  .questions__title {
    font-size: 30px;
  }
}
@media (max-width: 385px) {
  .banner__title {
    font-size: 30px;
  }
  .white__title {
    font-size: 30px;
  }
  .call__phone a {
    font-size: 30px;
  }
  .choose__img {
    height: 100px;
  }
  .choose__card-bg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 360px) {
  .banner {
    padding-top: 320px;
  }
}
@media (max-width: 340px) {
  .white__title {
    font-size: 28px;
  }
}
