.services {
  padding: 90px 0;
  @include bg-white();
}

.services__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  column-gap: 90px;
}
.services__subtitle {
  color: $color-accept;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;

  max-width: 1000px;
}
.services__item {
  max-width: 260px;
  text-align: center;
}
.services__name {
  font-weight: 500;
  font-size: 28px;
  padding-bottom: 15px;
  line-height: 1.1;
  color: $color-heading;
}
.services__description {
  line-height: 1.8;
  padding-bottom: 20px;
  & span {
    font-weight: 500;
  }
}
.services_view {
  color: $color-accept;
  letter-spacing: 4px;
}
