.header__contact-socials {
}
.socials {
  display: flex;
  column-gap: 15px;
}
.socials__item {
  width: 30px;
  height: 30px;
}
.socials__link {
  &.socials__icon {
    color: $color-white;
    fill: antiquewhite;
  }
}
.socials__icon {
  width: 30px;

  height: 30px;
}
