.header__contact-socials {
}
.socials {
  display: flex;
  column-gap: 15px;
}
.socials__item {
  width: 30px;
  height: 30px;
  background-color: $color-accept;
}
.socials__link {
}
.socials__icon {
  display: flex;
  /*   left: 50%;
  transform: translateX(-50%); */
  align-items: center;
  width: 15px;

  height: 15px;
}
