body {
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  color: $color-text;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

//TEXT
.dark__subtitle {
  color: $color-accept;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.dark__title {
  color: $color-white-title;
  max-width: 600px;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.dark__text {
  color: $color-white;
  margin-bottom: 65px;
}

.none {
  display: none;
}

.white__title {
  color: $color-heading;
  max-width: 600px;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.white__text {
  max-width: 600px;
  font-size: 18px;
  padding-bottom: 25px;
}
