/*
e-global-typography-primary-font-family: "Oswald";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Oswald";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Nunito Sans"


		 font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
		*/

body {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  color: $color-text;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

//TEXT
.dark__subtitle {
  color: $color-accept;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.dark__title {
  color: $color-white-title;
  max-width: 600px;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.dark__text {
  color: $color-white;
  margin-bottom: 65px;
}
