$fill-bg: rgba(49, 67, 82, 0.85);

$color-accept: #db383a;

$color-text: #29292a;
$color-white: #fdfdfe;
$color-white-title: #fff;
$color-heading: #374b5c;
$color-border: #f3f3f3;
$color-dark: #101018;
$color-footer-bg: #314352;
$color-footer-text: #b4b4b4;

@mixin bg-white() {
  background: linear-gradient(#ffffff 40%, rgba(255, 255, 255, 0.7) 100%),
    url("./../img/services-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin header-bg-page() {
  background: linear-gradient(
      rgba(49, 67, 82, 0.87),
      rgba(49, 67, 82, 0.85) 100%
    ),
    url("./../img/bg-page.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin bg-call() {
  background: linear-gradient(
      rgba(49, 67, 82, 0.87),
      rgba(49, 67, 82, 0.85) 100%
    ),
    url("./../img/services-bg-page.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bg-about() {
  filter: brightness(100%) contrast(100%) saturate(25%) blur(0px)
    hue-rotate(0deg);

  object-fit: cover;
  object-position: center center;

  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  &:hover {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
      hue-rotate(0deg);
  }
}
